* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #f2f2f0;
}
header {
  background-color: #402a1e;
  color: #f2e3d0;
  padding: 20px;
  text-align: center;
}
main {
  padding-block: 60px;
}
main > * {
  padding-inline: 30px;
}
main h2 {
  color: #402a1e;
  margin-bottom: 12px;
}
main p {
  margin-bottom: 8px;
}
main ul {
  display: flex;
  flex-wrap: wrap;
}
main ul li a {
  display: block;
  padding: 10px 20px;
  background-color: #402a1e;
  color: #f2e3d0;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 0.3s ease;
}
main ul li a:hover {
  background-color: #734a32;
}
