/* ==== RESET ====== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* ==== GERAL ====== */
.container {
  width: min(100% - 30px, 1300px);
  margin-inline: auto;
}
main {
  padding-block: 20px;
}
main .container {
  display: grid;
  gap: 0px 40px;
  grid-template-columns: 1fr auto;
  grid-template-areas: 'tp tp' 'pd ml';
}
img {
  display: block;
  max-width: 100%;
}

/* ==== HEADER ====== */
header {
  background-color: #111;
  padding-block: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo-header {
  height: 50px;
}
.menu-list {
  display: flex;
  gap: 15px;
}
.menu-list a {
  position: relative;
  color: #fff;
  font-size: 18px;
}
.menu-list a::after {
  position: absolute;
  content: '';
  display: block;
  background-color: #c5083d;
  width: 100%;
  height: 1px;
  bottom: 0;
  opacity: 0;
  transition: 0.5s all;
}
.menu-list a:hover::after {
  opacity: 1;
  bottom: -5px;
}

/* ==== TITULO PRINCIPAL ====== */
.titulo-principal {
  grid-area: tp;
}

.titulo-principal > h2,
.titulo-principal > p {
  text-align: center;
}
.titulo-principal > p {
  margin-bottom: 20px;
}

/* ==== PRODUTOS ====== */
#produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  grid-area: pd;
}
.produto {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: 0.5s all;
}
.produto:nth-child(2) img {
  object-position: top;
}
.produto > img {
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.produto:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.produto-info {
  background-color: #fcfcfc;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
.produto-info > h3 {
  color: #111;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.produto-info > p {
  color: #111;
}

/* ==== MENU LATERAL ====== */
.menu-lateral {
  align-self: flex-start;
  grid-area: ml;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: 20px;

  background-color: #dcdcdc;
  padding: 10px 20px;
  border-radius: 5px;
}
.menu-lateral h3 {
  text-transform: uppercase;
  text-align: center;
}
.link-lateral {
  border-radius: 5px;
  transition: 0.5s all;
}
.link-lateral:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.link-lateral img {
  border-radius: 0 0 5px 5px;
}
.link-lateral h3 {
  color: #111;
  background-color: #ececec;
  padding-block: 2px;
  border-radius: 5px 5px 0 0;
}

/* ==== FOOTER ====== */
footer {
  background-color: #111;
  padding-block: 20px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer img {
  height: 50px;
}
footer a {
  position: relative;
  text-transform: uppercase;
  color: #fff;
}
footer a::after {
  position: absolute;
  content: '';
  display: block;
  background-color: #c5083d;
  width: 100%;
  height: 1px;
  bottom: 0;
  opacity: 0;
  transition: 0.5s all;
}
footer a:hover::after {
  opacity: 1;
  bottom: -5px;
}

/* ==== RESPONSIVO ====== */
@media (max-width: 768px) {
  main .container {
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      'tp'
      'ml'
      'pd';
  }
  .menu-lateral {
    overflow: auto;
    flex-direction: row;
    max-width: initial;
    margin-bottom: 20px;
  }
  .menu-lateral > h3 {
    display: none;
  }
  .link-lateral > img {
    max-width: initial;
    width: 240px;
    height: 150px;
  }
  .link-lateral > h3 {
    white-space: nowrap;
    word-break: keep-all;
  }
}
